<a href="https://colab.research.google.com/github/kushagrathisside/Students-Skillset-Analysis/blob/main/Preprocessing/Preprocessing_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv('/content/Studentdata.csv')

In [2]:
df.head()

,Unnamed: 0,2.Gender,3. Year of Study,4. Branch,1. Type of Schooling till 10th Grade:,2. Percentage in Class 10th?,3. Location of Class 10th School:,4. Type of Schooling for class 12th:,5. Percentage in Class 12th?,6. Location of Class 12th School:,...,3. Exposure to Data structure and algorithms?,4. Exposure to GitHub ?,5. Are you associated with any developer Community?,6. Active in developer Communities,7. Participating in Hackathons and other competitions?,8. Have you made any Software based projects?,"9. Have you made any Hardware based project (Arduino, Raspberry Pi, Robots or any other)?",10. Have you ever pitched any idea?,11. Do you have any additional skills?,Achievements:
0,0,Male,Third,CSE/IT,Normal Schooling,>=80% and <90%,Town,Normal Schooling,>=80% and <90%,Town,...,Hard,Medium,Yes,Active Member,Participated,Yes,No,Yes,Cultural Activities,Scholarships;Hackathons;Research Papers;Projects
1,1,Female,Second,CSIT,Schooling with Tuitions,>= 90%,City,Schooling with Tuitions,>=90%,City,...,Medium,Medium,No,Moderately active,Not yet participated,Yes,No,No,Cultural Activities,None
2,2,Male,Second,CSIT,Normal Schooling,>= 90%,City,Coaching Based Schools,>=90%,City,...,Medium,Medium,No,Inactive Member,Not yet participated,Yes,No,No,Photography;Video Editing,None
3,3,Male,Second,CSIT,Normal Schooling,>=70% and <80%,City,Normal Schooling,>=80% and <90%,City,...,Medium,Easy,Yes,Moderately active,Not yet participated,Yes,Yes,No,None,None
4,4,Male,Second,CSIT,Normal Schooling,>=70% and <80%,City,Normal Schooling,>=80% and <90%,City,...,Medium,Hard,Yes,Active Member,Participated,Yes,No,Yes,None,Hackathons;Coding Competitions;Projects

In [3]:
df=df.drop(['Unnamed: 0'],axis=1)

Finding all columns in the dataset

In [4]:
df.columns

Index(['2.Gender', '3. Year of Study', '4. Branch',
       '1. Type of Schooling till 10th Grade:', '2. Percentage in Class 10th?',
       '3. Location of Class 10th School:',
       '4. Type of Schooling for class 12th:', '5. Percentage in Class 12th?',
       '6. Location of Class 12th School:', '7. Dropped an year after School?',
       '8. Are you about to become first generation graduate ?',
       '9. Involved in additional volunteer groups?(NCC,NSS, Social Welfare Groups  or any other)',
       '1. How many programming languages do you know? ',
       '2.  Actively involved in Specific technology?',
       '3. Exposure to Data structure and algorithms?',
       '4. Exposure to GitHub ?',
       '5. Are you associated with any developer Community?',
       '6. Active in developer Communities',
       '7. Participating in Hackathons and other competitions?',
       '8. Have you made any Software based projects?',
       '9. Have you made any Hardware based project (Arduino, Raspberry Pi, Robots or any other)?',
       '10. Have you ever pitched any idea?',
       '11. Do you have any additional skills?', 'Achievements:'],
      dtype='object')

As it is clearly visible that the column names are long enough to make the processing difficult so we'll rename the column headers to smaller names.

In [5]:
df.rename(columns = {'2.Gender':'gender',
                     '3. Year of Study':'year',
                     '4. Branch':'branch',
                     '1. Type of Schooling till 10th Grade:':'type_sch10',
                     '2. Percentage in Class 10th?':'per_sch10',
                     '3. Location of Class 10th School:':'loc_sch10',
                     '4. Type of Schooling for class 12th:':'type_sch12',
                     '5. Percentage in Class 12th?':'per_sch12',
                     '6. Location of Class 12th School:':'loc_sch12',
                     '7. Dropped an year after School?':'dropper',
                     '8. Are you about to become first generation graduate ?':'firstgrad',
                     '9. Involved in additional volunteer groups?(NCC,NSS, Social Welfare Groups  or any other)':'volunteer',
                     '1. How many programming languages do you know? ':'no_of_lang',
                     '2.  Actively involved in Specific technology?':'domain',
                     '3. Exposure to Data structure and algorithms?':'dsa',
                     '4. Exposure to GitHub ?':'github',
                     '5. Are you associated with any developer Community?':'clubs',
                     '6. Active in developer Communities':'communities',
                     '7. Participating in Hackathons and other competitions?':'competitions',
                     '8. Have you made any Software based projects?':'software',
                     '9. Have you made any Hardware based project (Arduino, Raspberry Pi, Robots or any other)?':'hardware',
                     '10. Have you ever pitched any idea?':'ever_pitched',                     
                     '11. Do you have any additional skills?':'add_skills',
                     'Achievements:':'achievements'}, inplace = True)

In [6]:
df.columns

Index(['gender', 'year', 'branch', 'type_sch10', 'per_sch10', 'loc_sch10',
       'type_sch12', 'per_sch12', 'loc_sch12', 'dropper', 'firstgrad',
       'volunteer', 'no_of_lang', 'domain', 'dsa', 'github', 'clubs',
       'communities', 'competitions', 'software', 'hardware', 'ever_pitched',
       'add_skills', 'achievements'],
      dtype='object')

Checking out the values in columns

In [7]:
df.nunique()

gender           2
year             3
branch          12
type_sch10       3
per_sch10        5
loc_sch10        3
type_sch12       4
per_sch12        5
loc_sch12        3
dropper          2
firstgrad        2
volunteer        2
no_of_lang       4
domain          17
dsa              3
github           3
clubs            2
communities      3
competitions     3
software         2
hardware         2
ever_pitched     2
add_skills      17
achievements    26
dtype: int64

# **Endoing Techniques to follow**

**Binary Encoder** needed in *gender, dropper, firstgrad, volunteer, clubs, software, hardware, ever_pitched*

**Label Encoder** (Ordinal Data) needed in *year, branch, type_sch10, per_sch10,loc_sch10, type_sch12, per_sch12, loc_sch12, no_of_lang, dsa, github, communities, competitions*

**One Hot Encoding/User Defined Function** needed in *branch, domain, add_Skills, achievements*

Reference: https://www.geeksforgeeks.org/feature-encoding-techniques-machine-learning/

# Binary Encoding Function

In [8]:
def bin_Encoder(colname : str):
  print("Unique Values in %s are " % colname)
  print(sorted(df[colname].unique()))
  df[colname] = df[colname].apply(
    lambda x: 1 if x == sorted(df[colname].unique())[0] else (0 if x == sorted(df[colname].unique())[1] else None))
  print("Unique Values in %s are " % colname)
  print(sorted(df[colname].unique()))

In [9]:
columns_for_binary=['gender', 'dropper', 'firstgrad', 'volunteer', 'clubs', 'software', 'hardware', 'ever_pitched']
for i in columns_for_binary:
  bin_Encoder(i)
  print('\n')

Unique Values in gender are
['Female', 'Male']
Unique Values in gender are
[0, 1]


Unique Values in dropper are
['No', 'Yes']
Unique Values in dropper are
[0, 1]


Unique Values in firstgrad are
['No', 'Yes']
Unique Values in firstgrad are
[0, 1]


Unique Values in volunteer are
['No', 'Yes']
Unique Values in volunteer are
[0, 1]


Unique Values in clubs are
['No', 'Yes']
Unique Values in clubs are
[0, 1]


Unique Values in software are
['No', 'Yes']
Unique Values in software are
[0, 1]


Unique Values in hardware are
['No', 'Yes']
Unique Values in hardware are
[0, 1]


Unique Values in ever_pitched are
['No', 'Yes']
Unique Values in ever_pitched are
[0, 1]

# Label Encoder

**Scope of improvement:** This function needs to be done by Python function itself and not by Library functionalities

In [10]:
from sklearn.preprocessing import LabelEncoder 
def lab_Encoder(colname:str):
  le = LabelEncoder()
  df[colname] = le.fit_transform(df[colname])
  print(sorted(df[colname].unique()))

In [11]:
columns_for_label=['year', 'branch', 'type_sch10', 'per_sch10','loc_sch10', 'type_sch12', 'per_sch12', 'loc_sch12', 'no_of_lang', 'dsa', 'github', 'communities', 'competitions']
for i in columns_for_label:
  print(i)
  lab_Encoder(i)

year
[0, 1, 2]
branch
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
type_sch10
[0, 1, 2]
per_sch10
[0, 1, 2, 3, 4]
loc_sch10
[0, 1, 2]
type_sch12
[0, 1, 2, 3]
per_sch12
[0, 1, 2, 3, 4]
loc_sch12
[0, 1, 2]
no_of_lang
[0, 1, 2, 3]
dsa
[0, 1, 2]
github
[0, 1, 2]
communities
[0, 1, 2, 3]
competitions
[0, 1, 2]

## Encoders for *add_skills* and *achievements*

In [12]:
df.head()

,gender,year,branch,type_sch10,per_sch10,loc_sch10,type_sch12,per_sch12,loc_sch12,dropper,...,dsa,github,clubs,communities,competitions,software,hardware,ever_pitched,add_skills,achievements
0,0,2,4,1,4,1,2,3,1,0,...,1,2,0,0,1,0,1,0,Cultural Activities,Scholarships;Hackathons;Research Papers;Projects
1,1,1,5,2,1,0,3,4,0,1,...,2,2,1,2,0,0,1,1,Cultural Activities,None
2,0,1,5,1,1,0,0,4,0,0,...,2,2,1,1,0,0,1,1,Photography;Video Editing,None
3,0,1,5,1,3,0,2,3,0,0,...,2,0,0,2,0,0,0,1,None,None
4,0,1,5,1,3,0,2,3,0,0,...,2,1,0,0,1,0,1,0,None,Hackathons;Coding Competitions;Projects

In [12]:
def spec_Encoder(colname : str):
  print("Unique Values in %s are " % colname)
  print(len(df[colname].str.split()))####to be continued
  df[colname] = df[colname].apply(
    lambda x: 1 if x == sorted(df[colname].unique())[0] else (0 if x == sorted(df[colname].unique())[1] else None))
  print("Unique Values in %s are " % colname)
  print(sorted(df[colname].unique()))